.root {
  display: grid;
  grid-template-columns: minmax(279px, 402px);
  grid-auto-rows: max-content;
  gap: 24px;
}

.link {
  font-size: 20px;
  line-height: 1.5;
  text-decoration: underline;
}

.asteroidList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
}
