.root {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  padding: 16px;
  background-color: rgba(35, 37, 38, 1);
}

.headline {
  font-size: 18px;
  font-weight: 700;
}

.subheadSkeleton {
  height: 16px;
  width: 100%;
  margin-top: 8px;
}

@media (min-width: 1024px) {
  .root {
    position: sticky;
    flex-direction: column;
    top: 124px;
    bottom: auto;
    right: auto;
    width: fit-content;
    height: fit-content;
    border-radius: 24px;
  }
}

@media (min-width: 1920px) {
  .root {
    right: 30%;
  }
}
