:root {
  --orange-base: rgb(248, 102, 0);

  --foreground: rgb(255, 255, 255);
  --background: rgb(0, 0, 1);
  --background: rgb(0, 0, 1);

  --primary: var(--orange-base);
  --primary-foreground: rgb(255, 255, 255);

  --secondary: rgba(248, 102, 0, 0.15);
  --secondary-foreground: var(--orange-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 24px;
  color: var(--foreground);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  color: var(--foreground);
}

h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
}

.container {
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
